<h2 id='title'>Ember Components Examples</h2>

{{twitter-button account="ander_decastro" size="large" count="false"}}

{{twitter-button account="emberjs" size="small" count="true"}}

{{twitter-button account="emicida" size="small" count="false"}}

{{outlet}}
